:root {
    --primary-color: #396148;
    --secondary-color: #ACB2A9;
    --accent1-color: #701804;
    --accent2-color: #dceed9;
    --font-family: "Oswald"; font-size: 30px;
    --font2-family: "Inter"; font-size: 25px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}

nav { 
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* LOGO IMAGE */
header img {
    width: 150px;
}

body {
    color: var(--secondary-color);
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2{
    color: var(--primary-color);
    font-family: var(--font-family);
}



/* Centering the main headings */
main section h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Centering the wording for P section */
section p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.history {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.history img {
    width: 100%; 
    height: auto; 
    margin: 30px;
}


.images-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section div img {
    width: 250px;
    height: 200px;
    justify-content: space-around;
}

.images-container figcaption{
    text-align: center;
    background-color: lightgrey;
    color: black;
}

p{
    color: var(--accent1-color);
    font-family: var(--font2-family);
}

.hero {
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.hero h1 {
    position: absolute;
    top: 15px;
    right: 0px;
    left: 0px;
    background-color: white;
    text-align: center;
    padding: 0px;
    border: 1px solid black;
    width: 100%;
}

.hero article {
    background-color: var(--accent2-color);
    position: absolute;
    top: 21%;
    left:15%;
    right:15%;
    height: 150px;
    border: 1px solid black;
}

.hero article p {
    bottom: 0;
    margin: 0;
    width: 70%;
}

.hero article img {
    margin: 3px;
    height: 130px;
    width: auto;
    float: right;
}


.sociallinks a{
    width: 50px;
    text-decoration: none;

}

.sociallinks img {
    width: 40px;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}