:root{
    --heading-background-color: steelblue;
    --border: 1px solid steelblue;
    --heading-text-color: white;
}

main {
    max-width: 840px;
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: var(--heading-text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-background-color);
}

main img{
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0;
}

aside {
    width: 840px;
    margin: 10px;
    border: var(--border);
    border-radius: 1%;
    padding: 10px;
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: var(--border);
    text-align:center;
}

